<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'Inicio'}) %>
<body>
  <%- include('./partials/header', {name: 'Metodos para genetar numeros Pseudoaleatorios'}) %>
  <main>
    <section>
      <a href="/method1">
        <article>
        <p>Metodo 1 <br> Congruencial Mixto</p>
      </article>
      </a>
      <a href="/method2">
        <article>
        <p>Metodo 2 <br> Congruencial Multip</p>
      </article>
      </a>
      <a href="/method3">
        <article>
        <p>Metodo 3 <br> Cuadrado Medio</p>
      </article>
      </a>
      <a href="/method4">
        <article>
        <p>Metodo 4 <br> Producto Medio</p>
      </article>
      </a>
      <a href="/method5">
        <article>
        <p>Metodo 5 <br> Constante Multip</p>
      </article>
      </a>
      <a href="/#">
        <article>
        <p>Metodo 6</p>
      </article>
      </a>
    </section>
  </main>
</body>
</html>
